$main-color: #1a1a1a;
$secondary-color: #ec3237;
$body-background: white;
#mainSection {
  background-color: $body-background;
}
ion-icon {
  color: $secondary-color;
}
#mainLabel {
  display: inline-block;
  margin: 0;
  color: white;
  font-size: 26px;
  margin-left: 10px;
  font-weight: 800;
}
ion-header {
  z-index: 200;
  position: relative;
}
#mainHeader {
  background-color: $main-color;

  #notifNumber {
    position: absolute;
    right: -5px;
    top: -3px;
    font-size: 10px;
  }
}
.title-container,
.main-title {
  a {
    text-decoration: none;
  }
  display: flex;
  align-items: center;
}
#addPost {
  padding-top: 30px;

  ion-card {
    width: 80%;
    margin: auto;

    ion-button {
      background-color: $secondary-color;
      color: white;
      border-radius: 12px;
      font-weight: 700;
    }
  }
}
#postsContainer {
  padding: 50px 0;

  .post {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    min-height: 80px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid black;

    .comment {
      width: 50%;
    }
    .comment-input {
      width: 100%;
    }
    .post-toolbar {
      display: flex;
      justify-content: flex-end;
    }
    #deleteBtn {
      ion-button {
        background-color: transparent;
        font-weight: 800;
        font-size: 12px;
        color: $secondary-color;
        padding: 3px;
      }
      border: 2px solid transparent;
      border-radius: 20px;
    }
  }
  .post-buttons {
    margin-left: auto;
  }
}
